@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./normalize.css";
@import "/src/scss/scss-modules/rename-wrapper";
@import "/src/scss/scss-modules/variables";
@import "/src/scss/scss-modules/task-overview";
@import "/src/scss/scss-modules/checkbox";

body {
  font-family: "Exo 2", sans-serif;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  button {
    appearance: none;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 18px;
    padding: 0;
  }

  #todo-app {
    overflow-y: scroll;
    height: 100%;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px 32px;
      background-color: $header-black;
      color: white;

      &__hamburger {
        cursor: pointer;

        display: flex;
        align-items: center;

        .material-symbols-outlined {
          font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
        }
      }
    }
    .app-wrapper {
      min-height: calc(100vh - 62px);
      display: flex;

      .sidebar {
        box-sizing: border-box;
        min-width: 318px;
        max-width: 318px;
        display: flex;
        flex-direction: column;
        padding: 32px 28px;
        box-shadow: 40px 180px 80px rgba(28, 29, 34, 0.06);
        gap: 16px;
        font-size: 20px;
        transition: all ease 0.15s;

        .top-filters {
          display: flex;
          flex-direction: column;
          // gap: 8px;

          &__filter-btn {
            display: flex;
            align-items: center;
            gap: 6px;
            padding: 10px 18px;
            border-radius: 18px;
            img {
              width: 20px;
            }

            &:hover {
              background-color: $gray-btn-select;
            }
          }
        }
        .projects {
          display: flex;
          flex-direction: column;
          cursor: pointer;
          gap: 8px;

          &__projects-section-wrapper {
            display: flex;
            flex-direction: column;
            border-radius: 18px;
            position: relative;

            &:hover {
              background-color: $gray-btn-select;
            }

            .project-create {
              display: flex;
              flex-direction: column;
              font-size: 16px;
              padding: 10px 18px;
              border-radius: 18px;

              form {
                display: flex;
                flex-direction: column;
                gap: 16px;
              }

              &__input-name {
                display: flex;

                input {
                  appearance: none;
                  width: 100%;
                  border: none;
                  line-height: 1.5rem;
                  outline: none;
                  border-radius: 18px;
                  padding: 0 6px;
                }
              }

              &__btn-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                gap: 8px;
              }

              &__btn-cancel {
                padding: 6px 12px;
                &:hover {
                  background-color: $gray-btn-select;
                }
              }

              &__btn-add-project {
                background-color: $gray-btn-select;
                padding: 6px 12px;

                &:disabled {
                  color: $gray-inactive;
                  cursor: not-allowed;
                }

                &:enabled:hover {
                  background-color: rgba(0, 0, 0, 0.5);
                  color: white;
                }
              }
            }
          }

          &__extend-icon {
            display: flex;
            align-items: center;
          }

          &__projects-btn-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 10px 18px;
            border-radius: 18px;

            &:hover {
              background-color: $gray-btn-select;
            }

            .icon-cont {
              display: flex;
              align-items: center;
              gap: 16px;

              div:hover {
                path,
                g {
                  opacity: 1;
                  stroke-opacity: 1;
                }
              }
            }
          }

          &__list {
            display: flex;
            flex-direction: column;
            font-size: 16px;
            padding: 0 16px;
            gap: 8px;
            position: relative;
          }

          &__item-wrapper {
            width: 100%;
            height: fit-content;
            position: relative;
            border-radius: 18px;
            // display: flex;
            // flex-direction: column;

            .more-window {
              position: absolute;
              // top: 50%;
              background-color: $gray-primary;
              display: flex;
              flex-direction: column;
              // gap: 8px;
              border-radius: 18px;
              // padding: 10px 18px;
              top: calc(100% + 2px);
              right: 0;
              z-index: 999;
              .more-btn {
                display: flex;
                align-items: last baseline;
                gap: 8px;
                padding: 10px 18px;
                &:hover {
                  background-color: $gray-btn-select;
                }
              }
            }
          }
          &__item {
            color: $gray-inactive;
            padding: 10px 18px;
            border-radius: 18px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            &:hover {
              color: $header-black;
              background-color: $gray-btn-select;
            }

            &:hover .item-more {
              visibility: visible;
            }

            .item-more {
              visibility: hidden;
              display: flex;
              align-items: center;
              position: relative;

              img {
                height: 20px;
                width: 20px;
                filter: invert(5%);

                &:hover {
                  filter: none;
                }
              }
            }
          }
        }
      }
      .main {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 32px 46px;
        gap: 16px;
        min-width: 0;

        &__content-wrapper {
          display: flex;
          flex-direction: column;
          max-width: 800px;
          width: 100%;
          gap: 16px;

          .name {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            &__text {
              font-size: 26px;
              font-weight: 700;
            }
          }

          .tasks {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 16px;

            .task {
              display: flex;
              align-items: center;
              gap: 16px;
              border-radius: 18px;
              padding: 16px;
              position: relative;
              cursor: pointer;

              &:hover {
                border-color: $border-black !important;
                background-color: $gray-btn-select;
              }

              &__text-date-wrapper {
                display: flex;
                flex-direction: column;
                gap: 8px;
                position: relative;
                flex: 1;
                min-width: 0;
              }

              &__date-wrapper {
                font-size: 14px;
                display: flex;
                align-items: center;
                gap: 4px;
                img {
                  width: 14px;
                  height: 14px;
                }
              }

              &__text-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 8px;
                min-width: 0;
              }

              &__content {
                font-weight: 600;
                min-width: 0;
                min-height: 0;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 5; /* start showing ellipsis when 3rd line is reached */
                white-space: normal;
              }

              &__description {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                min-width: 0;
              }

              &__content,
              &__description,
              &__date-wrapper {
                line-height: 1.5rem;
              }

              &__delete-button-wrapper {
                border-radius: 50%;

                .task-delete-button {
                  padding: 6px;
                  &:hover {
                    background-color: $gray-btn-select;
                  }
                  img {
                    width: 16px;
                    height: 16px;
                  }
                }
              }
            }

            .task-create {
              border-radius: 18px;
              border: 1px solid $border-black;

              padding: 16px;

              form {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .info-wrapper {
                  display: flex;
                  flex-direction: column;
                  gap: 8px;

                  &__content,
                  &__description {
                    display: flex;
                  }

                  &__additional {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    flex-wrap: wrap;
                    input,
                    select {
                      box-sizing: border-box;
                      padding: 0 8px;
                      border-radius: 18px;
                      outline: none;
                      border: 1px solid $border-black;

                      height: 24px;
                      // text-align: center;
                    }
                  }

                  #input-content,
                  #input-description {
                    width: 100%;
                    white-space: pre-line;
                    max-height: 150px;
                    overflow: auto;
                    appearance: none;
                    background-color: transparent;
                    border: none;
                    line-height: 1.5rem;
                    outline: none;
                  }

                  #input-content {
                    font-weight: 600;
                    direction: ltr;
                  }

                  #input-content[placeholder]:empty::before,
                  #input-description[placeholder]:empty::before {
                    content: attr(placeholder);
                    color: $gray-inactive;
                    cursor: text;
                  }
                }

                .form-btn-wrapper {
                  display: flex;
                  justify-content: flex-end;
                  gap: 8px;

                  &__btn-cancel {
                    padding: 6px 12px;
                    &:hover {
                      background-color: $gray-btn-select;
                    }
                  }

                  &__btn-add-task {
                    background-color: $gray-btn-select;
                    padding: 6px 12px;

                    &:disabled {
                      color: $gray-inactive;
                      cursor: not-allowed;
                    }

                    &:enabled:hover {
                      background-color: rgba(0, 0, 0, 0.5);
                      color: white;
                    }
                  }
                }
              }
            }
          }
          .add-todo-btn-wrapper {
            display: flex;

            .add-todo-btn {
              display: flex;
              gap: 8px;
              // min-width: 0;
              color: $gray-inactive;

              &:hover {
                color: $header-black;
                g {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .sidebar {
    display: absolute !important;
  }
}

.list-btn-active {
  color: $header-black !important;
  background-color: $gray-btn-select;
}

.task-priority1 {
  border: 1px solid $gray-inactive;
}

.task-priority2 {
  border: 1px dashed $gray-inactive;
}

.task-priority3 {
  border: 1px dotted $gray-inactive;
}

.prj-create-form-disable {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  z-index: -999;
}

.more-btn-visible {
  visibility: visible;
  filter: none !important;
}

.add-todo-btn-disable {
  display: none !important;
}

.task-completed {
  text-decoration: line-through !important;
}

// #input-content,
// #input-description {
//   width: 100%;
//   max-height: 150px;
//   overflow: auto;

//   appearance: none;
//   background-color: transparent;

//   border: none;
//   line-height: 1.5rem;
//   outline: none;
// }

// #input-content {
//   font-weight: 600;
// }
