@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./normalize.css";
body {
  font-family: "Exo 2", sans-serif;
}
body button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 18px;
}
body #todo-app .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  background-color: #1c1d22;
  color: white;
}
body #todo-app .header__hamburger {
  cursor: pointer;
  display: flex;
  align-items: center;
}
body #todo-app .header__hamburger .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
body #todo-app .app-wrapper {
  min-height: calc(100vh - 62px);
  display: flex;
}
body #todo-app .app-wrapper .sidebar {
  box-sizing: border-box;
  min-width: 318px;
  display: flex;
  flex-direction: column;
  padding: 32px 28px;
  box-shadow: 40px 180px 80px rgba(28, 29, 34, 0.06);
  gap: 16px;
  font-size: 20px;
  transition: all ease 0.15s;
}
body #todo-app .app-wrapper .sidebar .top-filters {
  display: flex;
  flex-direction: column;
}
body #todo-app .app-wrapper .sidebar .top-filters__filter-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 18px;
  border-radius: 18px;
}
body #todo-app .app-wrapper .sidebar .top-filters__filter-btn svg {
  width: 20px;
}
body #todo-app .app-wrapper .sidebar .top-filters__filter-btn:hover {
  background-color: rgba(28, 29, 34, 0.04);
}
body #todo-app .app-wrapper .sidebar .projects {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 8px;
}
body #todo-app .app-wrapper .sidebar .projects__projects-section-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 18px;
}
body #todo-app .app-wrapper .sidebar .projects__projects-section-wrapper:hover {
  background-color: rgba(28, 29, 34, 0.04);
}
body #todo-app .app-wrapper .sidebar .projects__projects-section-wrapper .project-create {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding: 16px;
}
body #todo-app .app-wrapper .sidebar .projects__projects-section-wrapper .project-create form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body #todo-app .app-wrapper .sidebar .projects__projects-section-wrapper .project-create__input-name {
  display: flex;
}
body #todo-app .app-wrapper .sidebar .projects__projects-section-wrapper .project-create__input-name input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  border: none;
  line-height: 1.5rem;
  outline: none;
  border-radius: 18px;
}
body #todo-app .app-wrapper .sidebar .projects__projects-section-wrapper .project-create__btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 8px;
}
body #todo-app .app-wrapper .sidebar .projects__projects-section-wrapper .project-create__btn-cancel {
  padding: 6px 12px;
}
body #todo-app .app-wrapper .sidebar .projects__projects-section-wrapper .project-create__btn-cancel:hover {
  background-color: rgba(28, 29, 34, 0.04);
}
body #todo-app .app-wrapper .sidebar .projects__projects-section-wrapper .project-create__btn-add-project {
  background-color: rgba(28, 29, 34, 0.04);
  padding: 6px 12px;
}
body #todo-app .app-wrapper .sidebar .projects__projects-section-wrapper .project-create__btn-add-project:disabled {
  color: rgba(28, 29, 34, 0.5);
  cursor: not-allowed;
}
body #todo-app .app-wrapper .sidebar .projects__projects-section-wrapper .project-create__btn-add-project:enabled:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
body #todo-app .app-wrapper .sidebar .projects__extend-icon {
  transform: rotate(90deg);
}
body #todo-app .app-wrapper .sidebar .projects__projects-btn-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 18px;
  border-radius: 18px;
}
body #todo-app .app-wrapper .sidebar .projects__projects-btn-wrapper:hover {
  background-color: rgba(28, 29, 34, 0.04);
}
body #todo-app .app-wrapper .sidebar .projects__projects-btn-wrapper .icon-cont {
  display: flex;
  align-items: center;
  gap: 16px;
}
body #todo-app .app-wrapper .sidebar .projects__projects-btn-wrapper .icon-cont div:hover path,
body #todo-app .app-wrapper .sidebar .projects__projects-btn-wrapper .icon-cont div:hover g {
  opacity: 1;
  stroke-opacity: 1;
}
body #todo-app .app-wrapper .sidebar .projects__list {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding: 0 16px;
}
body #todo-app .app-wrapper .sidebar .projects__item {
  color: rgba(28, 29, 34, 0.5);
  padding: 10px 18px;
  border-radius: 18px;
}
body #todo-app .app-wrapper .sidebar .projects__item:hover {
  color: #1c1d22;
  background-color: rgba(28, 29, 34, 0.04);
}
body #todo-app .app-wrapper .main {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 32px 46px;
  gap: 16px;
  min-width: 0;
}
body #todo-app .app-wrapper .main__content-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  min-width: 0;
  gap: 16px;
}
body #todo-app .app-wrapper .main__content-wrapper .name {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
body #todo-app .app-wrapper .main__content-wrapper .name__text {
  font-size: 26px;
  font-weight: 700;
}
body #todo-app .app-wrapper .main__content-wrapper .tasks {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}
body #todo-app .app-wrapper .main__content-wrapper .tasks .task {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid black;
  border-style: dotted;
  border-radius: 18px;
  padding: 16px;
}
body #todo-app .app-wrapper .main__content-wrapper .tasks .task input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #ffffff;
  margin: 0;
  font: inherit;
  color: black;
  min-width: 1.15em;
  min-height: 1.15em;
  border: 0.15em solid black;
  border-radius: 25px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
}
body #todo-app .app-wrapper .main__content-wrapper .tasks .task input::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 25px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #1c1d22;
}
body #todo-app .app-wrapper .main__content-wrapper .tasks .task input:checked::before {
  transform: scale(1);
}
body #todo-app .app-wrapper .main__content-wrapper .tasks .task__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  min-width: 0;
}
body #todo-app .app-wrapper .main__content-wrapper .tasks .task__content {
  font-weight: 600;
  min-width: 0;
}
body #todo-app .app-wrapper .main__content-wrapper .tasks .task__description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 0;
}
body #todo-app .app-wrapper .main__content-wrapper .tasks__add-todo-btn-wrapper {
  display: flex;
}
body #todo-app .app-wrapper .main__content-wrapper .tasks__add-todo-btn {
  display: flex;
  gap: 8px;
  color: rgba(28, 29, 34, 0.5);
}
body #todo-app .app-wrapper .main__content-wrapper .tasks__add-todo-btn:hover {
  color: #1c1d22;
}
body #todo-app .app-wrapper .main__content-wrapper .tasks__add-todo-btn:hover g {
  opacity: 1;
}
body #todo-app .app-wrapper .main__content-wrapper .tasks .task-create {
  border-radius: 18px;
  border: 1px solid #1c1d22;
  padding: 16px;
}
body #todo-app .app-wrapper .main__content-wrapper .tasks .task-create form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
body #todo-app .app-wrapper .main__content-wrapper .tasks .task-create form .info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
body #todo-app .app-wrapper .main__content-wrapper .tasks .task-create form .info-wrapper__content, body #todo-app .app-wrapper .main__content-wrapper .tasks .task-create form .info-wrapper__description {
  display: flex;
}
body #todo-app .app-wrapper .main__content-wrapper .tasks .task-create form .info-wrapper__content input[type=text], body #todo-app .app-wrapper .main__content-wrapper .tasks .task-create form .info-wrapper__description input[type=text] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  border: none;
  line-height: 1.5rem;
  outline: none;
}
body #todo-app .app-wrapper .main__content-wrapper .tasks .task-create form .info-wrapper__content input[type=text] {
  font-weight: 600;
}
body #todo-app .app-wrapper .main__content-wrapper .tasks .task-create form .info-wrapper__additional {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
body #todo-app .app-wrapper .main__content-wrapper .tasks .task-create form .info-wrapper__additional input,
body #todo-app .app-wrapper .main__content-wrapper .tasks .task-create form .info-wrapper__additional select {
  box-sizing: border-box;
  padding: 0 8px;
  border-radius: 18px;
  outline: none;
  border: 1px solid #1c1d22;
  height: 24px;
}
body #todo-app .app-wrapper .main__content-wrapper .tasks .task-create form .form-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
body #todo-app .app-wrapper .main__content-wrapper .tasks .task-create form .form-btn-wrapper__btn-cancel {
  padding: 6px 12px;
}
body #todo-app .app-wrapper .main__content-wrapper .tasks .task-create form .form-btn-wrapper__btn-cancel:hover {
  background-color: rgba(28, 29, 34, 0.04);
}
body #todo-app .app-wrapper .main__content-wrapper .tasks .task-create form .form-btn-wrapper__btn-add-task {
  background-color: rgba(28, 29, 34, 0.04);
  padding: 6px 12px;
}
body #todo-app .app-wrapper .main__content-wrapper .tasks .task-create form .form-btn-wrapper__btn-add-task:disabled {
  color: rgba(28, 29, 34, 0.5);
  cursor: not-allowed;
}
body #todo-app .app-wrapper .main__content-wrapper .tasks .task-create form .form-btn-wrapper__btn-add-task:enabled:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.list-btn-active {
  color: #1c1d22;
  background-color: rgba(28, 29, 34, 0.04);
}

@media (max-width: 750px) {
  .sidebar {
    display: absolute !important;
  }
}
.task-priority1 {
  border-style: solid;
}

.task-priority2 {
  border-style: dashed;
}

.task-priority3 {
  border-style: dotted;
}/*# sourceMappingURL=index.css.map */